.material-detail-view .has-hero-image, .solid-hero .material-detail-view .has-hero-image {
  margin-top: 0;
}
core-header-panel #music-content.material .g-content, paper-header-panel #music-content.material .g-content {
  margin: 32px 16px 30px 16px;
}
.gb_Zc {
  padding: 0 0 0 90px;
}
.cluster .lane-button.prev {
  left: -30px !important;
}
.cluster .lane-button.next {
  right: -30px !important;
}
*, .material-shadow-z1, sj-mini-queue.sj-mini-queue-0, .mainContainer * {
  transition: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.circle.paper-spinner-lite, #sliderKnobInner.paper-slider, .material-container-details paper-fab, .gb_b, .gb_1a, .gb_oc, .material-card .play-button-container paper-icon-button.play-button, .material-card .play-button-container paper-icon-button.play-indicator, .gb_2a, .gb_pc, .paper-fab-0, .gb_3a, .gbii, .gb_qc, .gb_rc, .gb_Rb, .gb_tc {
    border-radius: 50% !important;
}
core-drawer-panel:not([narrow]) core-header-panel #music-content.material .g-content, paper-drawer-panel:not([narrow]) paper-header-panel #music-content.material .g-content {
    margin: 32px 16px 30px 16px;
}
#mini-queue-details .images {
  opacity: 1;
  border-radius: 0;
}
.paper-header-panel-0 #dropShadow.paper-header-panel, sj-mini-queue #mini-queue-details.sj-mini-queue::after, #queue-overlay::after {
  box-shadow: none !important;
}
.material-detail-view .has-hero-image {
  margin-top: 0 !important;
}
.situations-content {
  margin-top: 40px !important;
}
.material-container-details .paper-fab-0 {
  top: -10px !important;
}
#nav-container .nav-toolbar .menu-logo, .material-container-details .info .creator-profile-image, div#loading-logo {
  -webkit-filter: grayscale(1);
}
#material-hero-image, #gbwa, .gb_qc.gb_Ic.gb_R.gb_rc, .gb_uc {
  display: none !important;
}
.nav-item-container.selected .fade-out::after, .fade-out:after {
  background: none !important;
}
#drawer-panel #player {
  border-top: 4px solid whitesmoke;
}
#drawer-panel paper-header-panel#content-container {
  height: calc(100% - 94px)!important;
}
.paper-slider-0 #sliderKnobInner.paper-slider, .paper-slider-1 #sliderKnobInner.paper-slider, #sliderKnobInner.paper-slider {
  border: none !important;
  max-height: 100px !important;
}
paper-toast.x-scope.paper-toast-0 {
  bottom: 0px !important;
  top: inherit !important;
}
#left-nav-open-button iron-icon.paper-icon-button {
  min-width: 24px !important;
}
.song-row td .title-right-items {
  line-height: 36px;
}
